[Unit]
Description=Selfiebooth app

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-abort
#ExecStart= (This line will be appended by installer)
